body {
	font: 80%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #fff;
    text-align: left;
}

.invisible {
    display: none;
}

.container {
	padding: 30px;
}


#footer {
	margin: 50px auto 0 auto;
	padding: 0;
}

#demo {
	margin: 30px auto 0 auto;
}

.big {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.6em;
	color: #4E6CA3;
}

.spacer {
	height: 20px;
	clear: both;
}

.clear {
	clear: both;
}

pre {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

h1 {
	margin-top: 2em;
	font-size: 1.3em;
	font-weight: normal;
	line-height: 1.6em;
	color: #4E6CA3;
	border-bottom: 1px solid #B0BED9;
	clear: both;
}

h2 {
	font-size: 1.2em;
	font-weight: normal;
	line-height: 1.6em;
	color: #4E6CA3;
	clear: both;
}

a {
	color: #0063DC;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#tabs {
	color: #B0BED9;
}


table.manualReconciliationChoices thead th {
    padding: 3px 10px;
	font-weight: bold;
	cursor: default;
}

table.manualReconciliationChoices tbody tr td {
    height: 100px;
}

table.manualReconciliationChoices tbody tr a {
    color: #0063DC;
}

#progresscontainer {
    position:absolute;
    width: 50%;
    top:1px;
    right:1px;
}
#progresscontainer label.kind {
    float: left;
    margin-top:5px;
    margin-left:3px;
}
#progressbar label {
    position: absolute;
    left: 50%;
    top: 5px;
}

a.optionsButton {
    color: #777;
    float: right;
    margin-right: 15px;
}

.clear {
    clear: both;
}

button.skipButton {
    margin-right: 10px;
}

label.findItem {
    margin-left: 10px;
}

#reviewScreen .identicalMatch {
    opacity:0.5;  
    filter:alpha(opacity=50);  
    -moz-opacity:0.5;
}

.disabled {
    opacity:0.5;  
    filter:alpha(opacity=50);  
    -moz-opacity:0.5;
}

#miniTopicFloater {
    background-color: #fff;
    border: 2px solid #999;
}
#miniTopicFloater .fbase-mt-nav {
    display:none;
}

#miniTopicFloater .fbase-mt-box {
    border:none;
}

.manualReconciliationChoices td img {
    max-height: 100px;
    max-width: 100px;
}

.documentation {
    margin-left: 10px;
}

.overflowContainer {
    display: none;
}

.expandOverflow {
    cursor: pointer;
}

.note {
    margin-left: 15px;
    color:#999;
}

.warning {
    margin-left: 15px;
    color:#f40;
}

th.upperHeader {
    border-bottom: 1px solid #999;
}
th.bottomHeader {
	border-bottom: 1px solid black;
}

textarea.spreadsheet {
    width: 100%;
    height: 200px;
}

table {
	border-collapse: collapse;
	text-align: left;
}

th {
	font-size: 120%;
	padding: 10px 8px;
}

#reviewScreen td {
	border-bottom: 1px solid #ccc;
}

td {
	padding: 9px 8px 0px 8px;
}

.reconciliationsToReview td {
    border: none;
}

#main_app a {
    color: #0063DC;
    text-decoration: none;
}

.fullShadow {
    z-index: 0;
    position: absolute;
    left:0;
    top: 0;
    width:100%;
    height:100%;
    background-color: #000;
    opacity: 0.7;
    -moz-opacity: 0.7;
    filter:alpha(opacity=70);
}

.noscriptError {
    z-index: 1;
    position: absolute;
    left: 33%;
    width: 33%;
    
    top: 33%;
    padding: 30px;
    
    cursor: default;
    background-color: #fff;
}

.inputWarnings {
    background-color: #F84;
    left: 12.5%;
    padding: 4px;
    position: relative;
    width: 75%;
}

.inputWarnings li {
}

.spinnerHolder {
    height: 30px;
}

.examples {
    font-size: 90%;
}

.triplesDisplay {
    max-height: 200px;
    overflow: auto;
}

.loginUnknown {
    padding-left: 10px;
    padding-top: 2px;
    font-size: 95%;
}

.mid-table-subheading {
    font-size: 95%;
    margin-top: 20px;
}

.score {
    color: #999;
    font-size: 90%;
}

.title {
    font-size: 130%;
    color: #f60;
}

.buttonColumn {
    text-align: center;
}

.recordVals {
    font-size: 108%;
}

.currentRecord {
    border: 1px solid #999;
/*    background-color: #A79FD6;*/
}

.manualReconciliationChoices {
    border: 1px solid #999;
}

.manualReconciliationChoices .odd {
/*    background-color: #FCC497;*/
}

.manualReconciliationChoices .odd {
/*    background-color: #FCD3B2;*/
}

.internalReconciliationPrompt {
    float: right;
    max-width: 20%;
    border: 2px solid #999;
    background-color: #ddf;
    padding: 10px;
}

.manualReconciliationChoices tr {
    height: 100px;
    overflow: hidden;
}

.manualReconMeat {
    max-width: 80%;
}

.manualReconMeat .blurb {
    max-width: 350px;
}